.card {
  max-width: 90%;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card .wrapper {
  max-width: calc(33.33% - 20px); 
  display: flex;
  flex-direction: column;
  margin: 0px 0 32px 10px;
  /* padding: 60px auto; */
  box-sizing: border-box;
}

.card.info {
  margin-left: auto;
}

.card .img {
  max-width: 350px;
  max-height: 200px;
}

.card .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 -16px;
}

.card .fund,
.card .category,
.card .deadline,
.card .country,
.card .requirements {
  margin: 5px -16px;
  font-size: 0.9rem;
}

.card .more {
  color: green;
  text-decoration: none;
  display: block;
  margin: 10px -16px;
}

/* List view styling */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0px 30px;

}
.wrapper { 
    width: 100%;
    display: flex;
    position: relative;
    margin: 10px auto 0px auto;
    padding: 20px 20px;
    box-shadow: 4px 4px 4px 4px rgba(210, 214, 211, 0.25);
    /* background: linear-gradient(90.21deg, #60c453 -5.91%, #c55dc7 111.58%); */

  }

  .info{
    margin-left: 20px;
    margin-top: 10px;;
  }
  
  .img{
    max-width: 350px;
    max-height: 200px;
  }
  .title {
    color: green;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fund,
  .category, 
  .country,
  .deadline,
  .requirements
   {
    color:white;
    margin: 0px 0;
  }
  
  .more {
    color: green;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  } 
  
 